/* formatação geral */

body{

font-family: Roboto,'Open Sans', sans-serif; cursive ;

}

h1, h2, h3 {

	margin: 0;
	font-family: Open+Sans, 'Pacifico', cursive; 
	font-weight: 700;

}

 p{ 
 	font-family: Roboto, cursive;
}

.container{
width: 100%

}

 /* Cbeçalho ou barra de navegação */
.logo1 img{
    border-radius: 200%;

}
 
   nav{
   
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #000000;
     padding: 30px;

   }

    nav ul{
list-style: none;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
 
  }
 nav ul li{
 	text-align: center;
 	width: 100%;
 	font-size: 1.5em;
 	padding: 2%;
 }

  nav ul li a{
    display: inline-block;;
    padding: 10px 0;
    width: 100%;
    text-decoration: nome;
    color: #fff;
 }


/* HEADER */

header{

  background-image: url('../img/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px; 
}


header p{
	margin-bottom: 2em;
	font-size: 1.7em;

}








/* Sobre */

#sobre{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: #000000;
color: #fff;
}

#sobre h2{

margin-top: 20px;
font-size: 2em;

}
.foto img{
  width: 60%;
}
.foto{
 float: left;
 width: 50%;
}

#sobre p{
font-size: 1.0em;
text-align: center;

}

.texto{
float: right;
width: 50%

}





/* Especialidades */   

  #especialidades{

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
   background-color: #E0FFFF;
  }


  #especialidades div {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top:  40px;

  }

  #especialidades p{
     line-height: 1.5;
     margin: 3vh;
     font-size: 0.8em;
  }

  #especialidades img{
    margin: 10px 0;
  }


  #especialidades h2{
   font-size: 2em;

     }


  
 /* Competencias*/
#competencias{
  float: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  padding-top:20px;
  margin-left: 20px;
  margin-right: 20px; 
  background-color: #E0FFFF;
}

#competencias h2{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size:1.5em;
  text-align: center; 
}

#competencias h3,p{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size:0.7em;
  text-align: center; 
}

#competencias a{
  text-decoration:none;
}

#competencias img{
  width: 50%;
  margin-bottom: 0;
}

#competencias .comp p{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1.5;
  border-radius: 15px;
}

 


.trab img:hover{
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate();
}
 
 .trab img{
  border:5px groove #0000CD;
 }   
    
    }

   /* TESTE */
  #Trabalhos div{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0  auto;
}

   #Trabalhos  div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
  /* TESTE */


 #hobby{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
margin-left: 20px;
margin-right: 20px;
width: 100%;
background-color: #E0FFFF;

 }

 #hobby h2{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;

 }
 
 .hobby {
  width: 80%;
  align-items: center;
  text-align: center;
 }

.boddy h3{
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 14px; 

}

/*contato */


 #contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E0FFFF;
    width: 100%;
 }

 #contato h2 {
  margin-left: 20px;
  margin-right: : 20px;
  margin-bottom: 20px;
  margin-top: 20px; 
  font-size: 1.5em;
  text-align: center;
  color: #778899 ;
 }
  

#contato a{
  text-decoration: none;
  color: #0000FF;
  font-family: "Roboto","Open Sans", "sans-serif"; sans-serif;
  font-size: 1.2em;
  text-align: center;
}


/* Footer */

.footer {
  text-align: center;
  width: 100%;
  background-color: black;
  color: black;
  padding-top: 20px ;
  padding-bottom: 20px ;
  color: #f1f1f1;
}


@media screen and (min-width:  786px){

/* Cbeçalho ou barra de navegação */
nav {

	flex-direction: row;
	justify-content: space-around;

}

nav ul {

	  flex-direction: row;
	  width: 70%;

}



/* HEADER */

header{
  height: 600px;
  height: 250px;
  }



/* Sobre */

  #sobre {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 90vh;
    justify-content: center;
    min-height: 80vh;
  }
  
  #sobre h2{
    text-align: center;
    width: 100%;

  }

  #sobre div{
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0 10px
  }



  /* Especialidades */    
  #especialidades {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto; 
  }
   #especialidades h2{
    text-align: center;
    width: 100%;
}
 #especialidades div {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
  
   }

  


 /* Competencias*/

  
     #competencias{
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  #competencias h2,h3{
    width: 100%;
    text-align: center;
  }

  #competencias .comp{
    width: 33.33333333333333333%;
    text-align: center;
  }


  
    #contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    max-height: 40vh;
    width: 100%;
  }



  #contato h2,
  #contatop p {
    width: 100%;
    text-align: center;
  }